<div><app-navigation-bar></app-navigation-bar></div>
    
<div class="conteudo">
    
    <!--- <div class="search_box">
                
        <input type="text" class="search_text"
        placeholder="Digite o nome que você procura !">
        
        <a class="search_bottom" href="#">

        </a>
    </div>
    --->
    <div class="titulo">Contatos</div>
    <div>
        <button class="button" href="#">Novo Contato</button>
    </div>

    <table id="customers">
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th></th>
        </tr>
        <tr>
        <tr>
          <td>Pedro Tavares</td>
          <td>pedro@gmail.com</td>
          <td>81996859014</td>
          <td>
            <button class="buttonDelete" href="#">Deletar</button>
            <button class="buttonEdit" href="#">Editar</button>
        </td>
        </tr>
      </table>
      

</div>




