*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.titulo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
}

.conteudo{
    list-style-type: none;
}

.search_box{
    position: absolute;
    margin-top: 5px;
    left: 5%;
    transform: translate(-20%, -20%);
    background: #01019b;
    border-radius: 40px;
    padding: 5px;
}

.search_bottom{
    color: #000000;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #01019b;
    text-align: center;
    line-height: 40px;
    transform: all 0.8s ease;
}

.search_text{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    font-size: 16px;
    transition: 0.4;
    line-height: 40px;
    width: 0;
    color: #ffffff;
}

.search_box:hover > .search_text{
    width: 240px;
    padding: 0 6px;
}
.search_box:hover > .search_bottom{
    background: #ffffff;
}

.button {
    background-color: #3e40b9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    float: right;
    
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .buttonEdit {
    background-color: #2fdb4c;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
    
  }
  
  .buttonEdit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .buttonDelete {
    background-color: #e44040;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
    
  }
  
  .buttonDelete:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3e40b9;
    color: white;
    
  }