<app-navigation-bar></app-navigation-bar>

<section>
    <div class="title_users">
      <h1>Usuários</h1>
    </div>
    <div class="button_new_user button_primary_color">
      <button mat-raised-button color="primary" routerLink="/users-create-edit">Novo Usuário</button>
    </div>
  </section>
  
  <section>
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Perfil</th>
            <th>menu</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of collection.data">
            <th data-label="Nome">{{item.nome}}</th>
            <td data-label="Email">{{item.email}}</td>
            <td data-label="Perfil">{{item.perfil}}</td>
            <td data-label="Menu">
              <div class="button_check_color">
                <button class="buttons-first-position" mat-raised-button color="accent">Excluir</button>
                <button mat-raised-button color="accent">Editar</button>
              </div>
            </td>
          </tr>          
        </tbody>
      </table>
      <div class="pagination-position">
        <pagination-controls [maxSize]="maxSize" 
                            [directionLinks]="directionLinks" 
                            [responsive]="responsive" 
                            [previousLabel]="labels.previousLabel" 
                            [nextLabel]="labels.nextLabel" 
                            (pageChange)="onPageChange($event)"></pagination-controls>
      </div>  
    </div>    
  </section>