<body>
    
    <!--- Navegação -->
    <nav class="navbar">
        <!-- Menu reponsivo para Mobile-->
        <span class="navbar-toggle" id="toggle-action">
            <mat-icon>menu</mat-icon>
        </span>
        <!-- Menu responsivo para web(Minima de 769px)-->
        
        <a href="#">
            <img src="../../../assets/img/logo-noobsFuctura-navbar.png" class="logo">
          </a>
       <!-- <span class="font-style"><img src="../../login/logo-noobsFuctura.png"></span>   -->  

        <ul class="main-nav" id="desktop-menu">
            <li>
                <a routerLink="/contacts-list" class="nav-links">Contatos</a>
            </li>
            <li *ngIf="admin != 'false'">
                <a routerLink="/users-list" class="nav-links">Usuários</a>
            </li>
            <li>
                <a routerLink="/login" class="nav-links">Logout</a>
            </li>
        </ul>

    </nav>

</body>